node_modules
.crdownload
.env
.env.local
.DS_Store
*.log
npm-debug.log*
data/
*.sqlite
*.db
.vscode/
.idea/
provider-state.json
.java-runtime/
lavalink.jar:Zone.Identifier
Unconfirmed 725337.crdownload
Unconfirmed 570585.crdownload
Unconfirmed 124138.crdownload
Unconfirmed 674423.crdownload
Unconfirmed 670204.crdownload
Unconfirmed 373934.crdownload
Unconfirmed 145729.crdownload
Unconfirmed 120334.crdownload
Unconfirmed 860463.crdownload
Unconfirmed 468472.crdownload
