node_modules
.env
.env.local
.DS_Store
*.log
npm-debug.log*
data/
*.sqlite
*.db
.vscode/
.idea/
provider-state.json
.java-runtime/
lavalink.jar:Zone.Identifier
Unconfirmed 725337.crdownload
Unconfirmed 570585.crdownload
Unconfirmed 124138.crdownload
Unconfirmed 674423.crdownload
