version: "3.8"

services:
  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4
    container_name: jarvis-lavalink
    restart: unless-stopped
    environment:
      - _JAVA_OPTIONS=-Xmx512M
      - SERVER_PORT=2333
      - LAVALINK_SERVER_PASSWORD=youshallnotpass
    volumes:
      - ./lavalink/application.yml:/opt/Lavalink/application.yml:ro
      - ./lavalink/plugins:/opt/Lavalink/plugins
    ports:
      - "2333:2333"
    networks:
      - jarvis-network

networks:
  jarvis-network:
    driver: bridge
