openapi: 3.0.3
info:
  title: Jarvis AI API
  description: |
    REST API for the Jarvis Discord Bot.
    
    ## Authentication
    Most endpoints require authentication via:
    - **Dashboard**: Cookie-based session from Discord OAuth
    - **Moderator**: Discord OAuth with guild admin verification
    - **Health**: Optional `HEALTH_TOKEN` header
  version: 1.1.0
  contact:
    name: Jarvis Support
    url: https://discord.gg/ksXzuBtmK5

servers:
  - url: https://jorvis.org
    description: Production
  - url: http://localhost:3000
    description: Local Development

tags:
  - name: Dashboard
    description: Bot owner dashboard endpoints
  - name: Moderator
    description: Guild moderator panel endpoints
  - name: Health
    description: System health and status

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      description: Returns bot health status
      responses:
        '200':
          description: Bot is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  uptime: { type: number, example: 3600 }
                  memory: { type: object }

  /api/dashboard/health:
    get:
      tags: [Dashboard]
      summary: Dashboard health summary
      security: [cookieAuth: []]
      responses:
        '200':
          description: Dashboard statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardOverview'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/dashboard/providers:
    get:
      tags: [Dashboard]
      summary: AI provider status
      security: [cookieAuth: []]
      responses:
        '200':
          description: Provider health and latency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardProvidersResponse'

  /api/dashboard/logs:
    get:
      tags: [Dashboard]
      summary: Recent dashboard logs
      security: [cookieAuth: []]
      responses:
        '200':
          description: Recent runtime logs

  /api/dashboard/settings:
    get:
      tags: [Dashboard]
      summary: Current dashboard settings
      security: [cookieAuth: []]
      responses:
        '200':
          description: Persisted dashboard settings
    post:
      tags: [Dashboard]
      summary: Update dashboard settings
      security: [cookieAuth: []]
      responses:
        '200':
          description: Settings updated

  /moderator/api/stats/{guildId}:
    get:
      tags: [Moderator]
      summary: Guild moderation stats
      security: [oauthAuth: []]
      parameters:
        - name: guildId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Moderation statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationStats'

  /moderator/api/settings/{guildId}:
    post:
      tags: [Moderator]
      summary: Update moderation settings
      security: [oauthAuth: []]
      parameters:
        - name: guildId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationSettings'
      responses:
        '200':
          description: Settings updated

  /moderator/api/threats:
    get:
      tags: [Moderator]
      summary: List known threats
      security: [oauthAuth: []]
      responses:
        '200':
          description: Cross-guild threat database
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Threat'

  /moderator/api/threats/report:
    post:
      tags: [Moderator]
      summary: Report a threat
      security: [oauthAuth: []]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, reason]
              properties:
                userId: { type: string }
                reason: { type: string }
                severity: { type: string, enum: [low, medium, high, critical] }
      responses:
        '200':
          description: Threat reported

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session
    oauthAuth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://discord.com/oauth2/authorize
          tokenUrl: https://discord.com/api/oauth2/token
          scopes:
            identify: Read user identity
            guilds: Read user guilds

  schemas:
    DashboardOverview:
      type: object
      properties:
        status: { type: string, enum: [healthy, degraded] }
        degradedReasons:
          type: array
          items: { type: string }
        uptime: { type: string }
        uptimeMs: { type: number }
        requests: { type: integer }
        aiCalls: { type: integer }
        aiSuccess: { type: integer }
        aiFailed: { type: integer }
        successRate: { type: number }
        tokensIn: { type: integer }
        tokensOut: { type: integer }
        totalTokens: { type: integer }
        commandsExecuted: { type: integer }
        messagesProcessed: { type: integer }
        lastProvider: { type: string, nullable: true }
        providers: { type: integer }
        activeProviders: { type: integer }
        cpu: { type: string }
        platform: { type: string }
        nodeVersion: { type: string }
        deploymentMode: { type: string }
        discord:
          type: object
          properties:
            ready: { type: boolean }
            guilds: { type: integer }
            users: { type: integer }
            channels: { type: integer }
        database:
          type: object
          properties:
            connected: { type: boolean }
        memory:
          type: object
          properties:
            used: { type: integer }
            total: { type: integer }
            system: { type: integer }
            rss: { type: integer }

    DashboardProvidersResponse:
      type: object
      properties:
        providers:
          type: array
          items:
            $ref: '#/components/schemas/Provider'
        count: { type: integer }
        active: { type: integer }

    Provider:
      type: object
      properties:
        name: { type: string }
        type: { type: string }
        family: { type: string, nullable: true }
        model: { type: string, nullable: true }
        costTier: { type: string, nullable: true }
        hasError: { type: boolean }
        isDisabled: { type: boolean }
        lastError: { type: string, nullable: true }
        metrics:
          type: object
          properties:
            avgLatencyMs: { type: number, nullable: true }
            totalRequests: { type: integer }
            successRate: { type: number, nullable: true }

    ModerationStats:
      type: object
      properties:
        messagesAnalyzed: { type: integer }
        actionsToday: { type: integer }
        flaggedMessages: { type: integer }
        queueSize: { type: integer }

    ModerationSettings:
      type: object
      properties:
        enabled: { type: boolean }
        aiEnabled: { type: boolean }
        autoEscalation: { type: boolean }
        excludedChannels: { type: array, items: { type: string } }
        whitelistUsers: { type: array, items: { type: string } }
        whitelistRoles: { type: array, items: { type: string } }

    Threat:
      type: object
      properties:
        userId: { type: string }
        reason: { type: string }
        severity: { type: string }
        reportedAt: { type: string, format: date-time }
        reportedBy: { type: string }

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, example: Unauthorized }
